.new-product-view-of-store-image-view-div {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 250px;
  border-radius: 6px 6px 0px 0px;
}

.lkmnjoirkee {
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 16.7rem));
  width: auto;
  display: grid;
  padding: 0;
}

.new-img-div-for-product-img-fixed {
  border-radius: 5px;
  position: relative;
  padding: 5px;
  z-index: 1;
  padding-top: 5px;
}

.new-jus-add-po-to-cart-kj-btn {
  /* color: var(--main-button-color-blue); */
  /* font-weight: 600; */
  color: #4e4e4e;
  height: auto;
  width: 9em;
  background: #fff;
  border-radius: 0.5em;
  font-size: 14px;
  padding: 0.7em 0.5em;
  border: 1px solid #0000002b;
  margin-bottom: 1em;
}

.for-img-widht-and-height {
  width: 16em;
  height: 16em;
  /* max-height: 14em;
      max-width: 13em; */
  border-radius: 0.3em;
  /* object-fit: contain; */
}

.paragraph-for-product-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  font-size: 12px;
  width: 19em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  text-align: center;
}

.product-price-both-discount-and-productp {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding-bottom: 20px;
}

.display-flex-for-product-details-inrespo {
  display: block;
}

.produt-real-prics-by-seller {
  font-size: 20px;
}

.product-both-add-tocart-and-out-of-stock {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0px 20px;
}

@media (min-width: 320px) and (max-width: 425px) {
  .lkmnjoirkee {
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 24.7rem));
    width: auto;
    display: grid;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 4em;
  }

  .paragraph-for-product-description {
    display: none;
  }

  .for-img-widht-and-height {
    width: 6em;
    height: 6em;
    border-radius: 0.3em;
    /* object-fit: contain; */
  }

  .for-bnt-of-addtocart-instre-dividion {
    display: flex;
    justify-content: center;
  }

  .product-price-both-discount-and-productp {
    margin-top: -0px;
    font-size: 18px;
    display: flex;
    justify-content: left;
    gap: 0px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .produt-real-prics-by-seller {
    font-size: 20px;
    font-weight: 400;
    color: #000;
  }

  .product-both-add-tocart-and-out-of-stock {
    padding: 0px;
    justify-content: center;
    display: none;
  }
  .new-jus-add-po-to-cart-kj-btn {
    /* font-weight: 600; */
    height: auto;
    background: #fff;
    border-radius: 0.5em;
    font-size: 14px;
    padding: 0.5em 0.5em;
    margin-bottom: 1em;
    width: 100%;
  }

  .desplayflex-inresponsive-view {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    padding-bottom: 10px;
  }

  .display-flex-for-product-details-inrespo {
    display: block;
    width: 100%;
  }

  .bottom-cart-btn-in-out-eaSy {
    left: 0;
    transform: translateY(0%);
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
    position: fixed;
    bottom: 0;
    background: transparent;
    width: 100%;
    display: block;
    z-index: 1;
    padding: 10px 10px;
    box-shadow: none;
    transform: translateY(0%);
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  }

  .Cart-btn-bottom-btn {
    border-radius: 0.3rem;
    text-align: center;
    padding: 5px 15px;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    background-color: var(--color-theme, #006aff);
    align-items: center;
  }

  .title-svelte-1b3vcum {
    font-size: 16px;
  }

  .no-of-items-in-cart {
    font-weight: 100;
    font-size: 14px;
    padding-bottom: 5px;
    text-align: left;
  }
}
