.terms-and-condition-paragraph-in-center-kjhf {
  display: flex;
  justify-content: center;
}

.class-for-headerof-hone-terms-condition {
  font-size: 32px;
  padding: 20px 0px;
}

.very-first-paragraph-of-terms-and-condition-in-tandc {
  background: var(--main-border);
  line-height: 1.4;
  padding: 20px 0px;
}

.secound-header-of-terms-and-condition-in-tandc-pargarao {
  padding: 10px 0px;
}

.htwo-tag-in-terms-and-condition-lawways-black-color {
  font-size: 28px;
  padding-bottom: 5px;
}

.paragr-sdnjcf-dklrnmc {
  line-height: 1.3;
}
.hthree-tag-in-terms-and-condition {
  font-size: 22px;
  padding-bottom: 5px;
}

.paragraph-ofpoint-by-points-in-tandc-only {
  font-size: 16px;
  color: rgb(43, 43, 43);
  line-height: 1.3;
}

.only-setion-paddings-in-paragarph-de {
  padding-top: 20px;
}

.secound-hfour-tag-in-paragraph-of-t-and-c {
  padding: 5px 0px;
}
